a {
    display: block;
    font-family: Irish Grover;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 15px;
    color: #929292;
    font-size: clamp(18px, 2vw, 30px);
}

label {
    font-family: Irish Grover;
    font-size: clamp(18px, 2vw, 30px);
    display: block;
    text-align: center;
}

.field {
    color: black;
    font-family: Irish Grover;
    font-size: clamp(15px, 2vw, 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    display: block;
    width: 60%;
}
::placeholder {
    color: #A3A3A3;
}

.button {
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 26px;
    font-family: Irish Grover;
    background: #DF5A5F;
    border-radius: 9px;
    border-color: transparent;
    display: block;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

form {
    overflow-y: auto;
}