{% extends 'main.html' %}
{% load static %}

{% block content %}     
{% if request.user.is_authenticated %}
<link rel="stylesheet" href="{% static "/styles/account-styles.css" %}">
<table>
    <tr>
        <td class='nameText'>Name</td>
        <td></td>
        <td><a href="{% url 'logout' %}" class='logoutText'>Logout</a></td>
    </tr>
    {% for g in groups %}
    <tr>
        <td class='groupName'>{{g.name}}</td>
        <td><a class='viewText' href='/view-group/{{g.code}}'>View</a></td>
        <td><a class='removeText' href='/delete-group/{{g.code}}'>Remove</a></td>
    </tr>
    {% endfor %}
</table>
<form action="{% url 'newGroup' %}">
<button class='newGroupButton'>New Group</button>
</form>
{% endif %}

{% endblock %}