{% extends 'main.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "styles/add-participants-styles.css" %}">
{% if request.user.is_authenticated %}
<div>
    <div class='titleText'>Add Participants</div>
    <form method='POST' action=''>
        {% csrf_token %}
        <table>
            {% for num in list %}
            <tr>
                <td><label>Participant {{num}}:</label></td>
                <td><input type='text' name='person{{num}}' placeholder="Enter Persons's Name"/></td>
            </tr>
            {% endfor %}
        </table>
        <input class='button' type='submit' value='Create Group'/>
    </form>
</div>
{% endif %}

{% endblock %}