{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "styles/create-account-styles.css" %}">
<img src='/static/images/logo.PNG'>
<div>
    <form method='POST' action=''>
        {% csrf_token %}
        {% for field in form %}
        <div class='labels'>{{field.label_tag}}</div>
        {{field}}
        {% endfor %}
        <input class='button' type='submit' value='Create Account' />
    </form>
    <a class = 'login' href="{% url 'loginPage' %}">Already have an account? Login</a>
</div>
{% endblock %}