{% extends 'main.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "styles/login-styles.css" %}">
<div>
    <img src='/static/images/logo.PNG'>
    <form method='POST' action=''>
        {% csrf_token %}

        <div class='formFlexbox'>
            <input type='text' name='username' placeholder='Enter Username'/>
            <input type='password' name='password' placeholder='Enter Password' />
            <input class='loginButton' type='submit' value='Login'/>
        </div>
    </form>
    <div class='createAccountDiv'>
        <a class='createAccountText' href="{% url 'createAccount' %}">Don't have an account? Create one</a>
    </div>
</div>

{% endblock %}