{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "styles/view-group-styles.css" %}">
<div>
    <a href='/'>Back</a>
    <div class='groupName'>{{group.name}}</div>
    <div class='budget'>Budget: ${{group.budget}}</div>
    <table>
        {% for person in participants%}
        <tr>
            <td class='giverTable'><div class='giver'>{{person.giver}}</div></td>
            <td class='shareTable'><button class='share' data-code="{{person.individualCode}}">Share</button></td>
        </tr>
        {% endfor %}
    </table>
    <div class='instructionsTitle'>Instructions</div>
    <div class='instructionsText'>
        Click on the share text to copy a special message for the particular person you wish to share with. 
        By clicking the text it will automatically copy the message to your clipboard. 
        Make sure to share the message only with the person whom you clicked. 
        Each participant will have their own special message to enable them to draw who they are buying for. 
        The instructions for drawing names is included in the special message.
    </div>
</div>

<script>
    const host = '{{group.host}}'
    const groupCode = '{{group.code}}'
    const shareBtns = [...document.getElementsByClassName('share')]
    shareBtns.forEach(btn => btn.addEventListener('click', ()=>{
        const individualCode = btn.getAttribute('data-code')
        message = "You've been invited to " + host + "'s Secret Santa gift exchange! To find out the person you are giving a gift to visit https://secretsantawebapp-c4707cc18cc2.herokuapp.com/draw-name/" + groupCode + " and type in your secret code: " + individualCode
        navigator.clipboard.writeText(message)
    }))
</script>

{% endblock %}