@font-face {
    font-family: 'Irish Grover';
    src: url('/static/styles/IrishGrover-Regular.ttf');
}

table {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}
td {
    text-align: center;
}

a {
    text-decoration: none;
}

.logoutText {
    color: #929292;
    font-size: 32px;
    font-family: Irish Grover;
}

.groupName {
    color: #DF5A5F;
    font-size: 40px;
    font-family: Irish Grover;
}

.viewText {
    color: #AFB97D;
    font-size: 36px;
    font-family: Irish Grover;
}

.removeText {
    color: black;
    font-size: 36px;
    font-family: Irish Grover;
}

.nameText {
    color: #929292;
    font-size: 32px;
    font-family: Irish Grover;
}

.newGroupButton {
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 26px;
    font-family: Irish Grover;
    background: #DF5A5F;
    border-radius: 9px;
    border-color: transparent;
    display: block;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}