@font-face {
    font-family: 'Irish Grover';
    src: url('/static/styles/IrishGrover-Regular.ttf');
}

.tableContainer {
    height: clamp(400px, 16vw, 1200px);
    overflow-y: auto;
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 90%;
}

td {
    text-align: center;
    font-family: Irish Grover;
    font-size: clamp(12px, 2vw, 20px);
}

input {
    width: 95%;
    font-family: Irish Grover;
    padding: 5px;
}

.titleText {
    font-family: Irish Grover;
    text-align: center;
    font-size: clamp(20px, 3vw, 32px);
    color: #DF5A5F;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: clamp(20px, 3vw, 26px);
    font-family: Irish Grover;
    background: #DF5A5F;
    border-radius: 9px;
    border-color: transparent;
    display: block;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}