a {
    display: block;
    font-family: Irish Grover;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 15px;
    color: #929292;
    font-size: clamp(16px, 2vw, 32px);
}

div {
    font-family: Irish Grover;
}

.tableContainer {
    height: clamp(150px, 16vw, 1300px);
    overflow-y: auto;
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    table-layout: fixed;
}

td {
    width: 50%;
    text-align: center;
    padding-right: 20px;
}
.groupName {
    font-size: clamp(20px, 2vw, 32px);
    text-align: center;
    color: #DF5A5F;
}

.budget {
    font-size: clamp(15px, 2vw, 20px);
    text-align: center;
    color: #AFB97D;
}

.giverTable {
    text-align: right;
}
.shareTable {
    text-align: left;
}
.share {
    color: white;
    background-color: #7996FF;
    font-family: Irish Grover;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: transparent;
    border-radius: 6px;
}
.share:hover {
    cursor: pointer;
}

.instructionsTitle {
    text-align: center;
    font-size: clamp(17px, 3vw, 25px);

}

.instructionsText {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    font-size: clamp(15px, 3vw, 25px);
}